@model ASPNETMVCCRUD.Models.AddEmployeeViewModel
    @{
    ViewData["Title"] = "Login";
    }
    <h1>Fazer Login</h1>
<form method="post" action="Add" class="mb-5">
    <div class="mb-3">
        <label for="" class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gastos</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Data de Visita</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Lugar que irei visitar:</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>