@{
    ViewData["Title"] = "Home Page";
}
<body>
	<div class="header-block">
        <div class="content">
            <div class="header-block">
            <div class="text">    
                <h2>Turistando em Curitiba</h2>
        <p>Melhores lugares para visitar em Curitiba</p>
			</div>
          <img src="~/images/turcwb.jpg" alt="Barigui"> 
        </div>
    </div>
	</div>
    
    </body>