@{
    ViewData["Title"] = "Catalogo";
}
<body class="catalog">
<section class="catalog" id="catalog">
    <div class="content">
        <div class="title-wrapper-catalog">
            <p>Melhores Roles em Cwb</p>
            <h3>Catalog</h3>
        </div>
        <div class="filter-card">
            <input type="text" class="search-input" placeholder="Chose your favorite model">
            <button class="search-button">Search</button>
        </div>
        <div class="card-wrapper">
            <div class="card-item">
                <img src="~/images/largo.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Largo da Ordem</h3>
                    <p>Rua Kellers, Curitiba · (41) 3250-7746</p>
                        <button type="button">Quero ir!</button>
                </div>
            </div>
            <div class="card-item">
                <img src="~/images/tangua.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Parque Tanguá</h3>
                    <p>Rua Oswaldo Maciel, 97 - Pilarzinho</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div>  <div class="card-item">
                <img src="~/images/mus.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Memorial Ucraniano</h3>
                    <p>Rua Francisco Schaffer, Curitiba, PR, 80820-200</p>
					<button type="button">Quero ir!</button>
                </div>
            </div>  <div class="card-item">
                <img src="~/images/botanico.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Jardim Botânico</h3>
                    <p>Rua Eng. Ostoja Roguski, Curitiba, PR, 80210-390</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div>  <div class="card-item">
                <img src="~/images/univer.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Ópera de Arame</h3>
                    <p>Rua João Gava 920, Curitiba, PR, 82130-010</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div>  <div class="card-item">
                <img src="~/images/barigui.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Parque Barigui</h3>
                    <p>Av. Cândido Hartmann, Curitiba, PR, 82015-100</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div> <div class="card-item">
                <img src="~/images/olho.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Museu Oscar Niemeyer</h3>
                    <p>R. Mal. Hermes, 999 - Centro Cívico, Curitiba - PR, 80530-230</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div>  <div class="card-item">
                <img src="~/images/cobertas.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>De baixo das cobertas</h3>
                    <p>Afinal, é a capital mais fria do Brasil!</p>
                    <button type="button">Quero ir!</button>
                </div>
            </div>   <div class="card-item">
                <img src="~/images/cama.jpg" alt="Barigui" />
                <div class="card-content">
                    <h3>Sua Cama</h3>
                    <p>Tem dias que não param de chover, então é a melhor opção ;)</p>
					<button type="button"><a href="https://www.bing.com/search?pglt=675&q=comprar+cama&cvid=78495a130bf14b8586b4ce26ef559c46&aqs=edge.0.0l9.4156j0j1&FORM=ANNTA1&PC=U531">Quero ir!</a></button>
                </div>
            </div>
        </div>
    </div>
	</section>

    <section class="features" id="festures">
        <div class="content">
            <div class="title-wrapper-features">
                <h3>Features</h3>
            </div>
            <div class="features-card-block">
                <div class="feature-card-item">
                    <img src="~/images/TuristandoCwb.png" Alt="Features" />
                    <div class="feature-text-content">
                        <h3>Passeios</h3>
                        <p>Equilibramos diversão e conhecimento.</p>

                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="~/images/TuristandoCwb.png" Alt="Features" />
                    <div class="feature-text-content">
                        <h3>Conhecimento</h3>
                        <p>Conheça os lugares históricos de Curitiba.</p>

                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="~/images/TuristandoCwb.png" Alt="Features" />
                    <div class="feature-text-content">
                        <h3>Dicas:</h3>
                        <p><a href="https://www.instagram.com/rolezandocuritiba/">Dicas de restaurantes</a></p>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="content">
            <div class="title-wrapper-about">
                <h3>About</h3>
            </div>

            <div class="about-content">
                <div class="left">
                    <img src="~/images/mus.jpg" alt="About">
                </div>
                <div class="right">
                    <h3>Turistando Cwb</h3>
                    <p> A Turistando Cwb é uma empresa que trabalha para que você tenha o melhor rolê em Curitiba. <br> Curitiba, a capital do estado do Paraná, é uma cidade que encanta seus visitantes com sua atmosfera única e uma variedade de atrações turísticas. Conhecida por sua modernidade, organização e preocupação com o meio ambiente, Curitiba oferece uma experiência fascinante para os amantes do turismo.<br> Estamos no ramo a mais de 30 anos.</p>
                </div>
            </div>
        </div>
    </section>

</body>